@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'BMHANNA';
  src: url(../fonts/BMHANNAPro.woff2) format("woff2");
  font-weight: 700;
}