.footer{
  color: #37373a;
  letter-spacing: -.02em;
  padding-top: 60px;
  padding-right: 24px;
  padding-bottom: 85px;
  padding-left: 24px;
  background-color: #f3f4f5;
}

.footer-inner{
  position: relative;
  max-width: 1186px;
  margin: 0 auto;
  padding: 0 7px;
}

.footer-nav{
  li{
    margin-top: 8px;
    padding-right: 8px;
    line-height: 1.4;
  }

  .nav-list{
    display: flex;
    .nav-item{
      flex: 1;

      h3{
        line-height: 1.75;
        font-weight: 700;
      }

      .sub-list{
        color: #6c6d6f;
        font-size: 14px;
      }
    }

    @include tablet{
      flex-wrap: wrap;

      .nav-item{
        flex: none;
        min-width: 33.3334%;
        margin-bottom: 40px;

        &.etc{
          color: #6c6d6f;
          font-size: 12px;
          line-height: 1.6666666667;
          flex-basis: 100%;
          margin-top: 6px;
          padding-top: 40px;
          border-top: 1px solid #d6d7da;
          width: 100%;

          .sub-list{
            display: flex;
            flex-wrap: wrap;

            .sub-item{
              width: 50%;
            }
          }
        }
      }
    }
  }
}

.footer-util-area{
  margin-top: 28px;
  display: flex;
  position: relative;

  .site-area{
    position: absolute;
    bottom: 0;
    right: 7px;
    width: 327px;

    .btn-site{
      font-size: 14px;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: 50px;
      padding: 13px 16px;
      border: 1px solid #a6a7a9;
      border-radius: 8px;
      background: #fff;

    }

    .btn-arrow{
      transition: 0.2s;

      &.on{
        transform: rotate(-180deg);
      }
    }

    .site-list{
      display: none;
      font-size: 14px;
      position: absolute;
      bottom: 100%;
      left: 0;
      overflow: auto;
      width: 100%;
      max-height: 215px;
      margin-bottom: 4px;
      border: 1px solid #a6a7a9;
      border-radius: 8px;
      background: #fff;
      box-shadow: 2px 4px  10px rgba(0, 0, 0, 0.08);

      &::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 3.5px;
        background-color: #d9d9d9;
    
        &:hover {
          background-color: #d9d9d9;
        }
      }

      &::-webkit-scrollbar-track {
        background: #ffffff;
      }
    }

    .site-item{
      +.site-item{
        border-top: 1px solid #f3f4f5;
      }
    }
    
    .link-site{
      display: flex;
      align-items: center;
      height: 50px;
      margin: 0 16px;

      &:hover{
        margin: 0;
        padding: 0 16px;
        background-color: #f3f4f5;
      }
    }
  }

  address{
    margin-right: 345px;
    
    h3{
      font-weight: 700;
      line-height: 1.75;
      margin-bottom: 8px;
    }

    span{
      display: inline-block;
      font-size: 14px;
      line-height: 1.7142857143;
      position: relative;

      +span{
        margin-left: 10px;
      }

      +span::before{
        content: '';
        position: absolute;
        display: inline-block;
        top: 6px;
        left: -7px;
        width: 1px;
        height: 14px;
        background: #37373a;
      }
    }
  }

  @include tablet{
    display: block;

    .site-area{
      position: relative;
      right: auto;
      bottom: auto;
      width: auto;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    address{
      margin-right: 0;

      span{
        display: block;
        font-size: 12px;
      }

      span+span{
        margin-left: 0;
      }

      span+span::before{
        display: none;
      }
    }
  }

  @include mobile{
    .site-area{}

    address{}

  }
}